modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 19631
externalPort = 3002

[[ports]]
localPort = 19910
externalPort = 3000

[[ports]]
localPort = 20917
externalPort = 4200

[[ports]]
localPort = 21963
externalPort = 3001

[[ports]]
localPort = 22334
externalPort = 5000

[[ports]]
localPort = 22407
externalPort = 3003

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
FIREBASE_CLIENT_EMAIL = "firebase-adminsdk-fbsvc@riden-be20b.iam.gserviceaccount.com"
FIREBASE_PRIVATE_KEY = """
-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCv0F9YR71f+lS6
LZxRFKy+VMYIr+OymSSTyphyNGaY9lwxFj7lxQC9fOCFgJ7L+1NPXPAQ1njU/4/3
WQqglvjyNu4uGItmS+P83FXgHRYO8PVnCzGqrUkckN/bFa8+kmU2ov9Dp9qcJKPO
9atN6ImGX+2n7DG6Koc8SpH/rgWcuHEwfBDlquGMPoZEEKImgHOgRIsTZrRQLSiX
rbqV5WHCS7ND0ewebDLUKpdAVsExJh5ERPyWE34DbVFDmEWMGpBiKYZHIJ9txfMT
5eeW1DVt4VRnqkLvScQwjJmCTCj9kCWhbodKTdsd5lFc+B6d+ZkN/1bo1C1jYW6b
CDzM8YthAgMBAAECggEAALG9bB4VrQapxq1HHg/i2Q1nkV5UyKfulWNlUkXNhQUr
tYyMrrAf2d2VBecCtDHmHNEUVQ2fo2JL8tcrxPsy2O2w40kHx0xmAgxzmplo8Hcm
L77US9+6VEtKq2t6D5kwYuJ90TCSh9PPDDrft69FPsNYZqSJ7yrQ2B6zPC79vTMA
n62Tdnpie+7NIT2n3x8e0YzsgravdKj8La3Yv0BF6GwcnvRZC9ImzCSF5Jb86BMN
+eZmyram+8Fh5l41LUqe6e4vYzrb8MTTGel/1QTuxf53kcLFnMz6r5hAtBkUWY3l
jFS6jLYZs/v4Zv3G6Pc1PUseuf6G3IISM8w2z45m4QKBgQDXtA6GPVVZ6ENCaidi
OcKREp6KiQDvdiwaqgX4sqD7lRSbBNstvCoPSjkQWDnAq0ImifZ9TbijVmAP9Nhj
dMEhxnt0YVzLCw/GBfUEIyyGG8Iy/vFKD4HuBSjbgXx+n6cnFfuIjuV/as1cr8E7
PthYsxMFOL+OuS4Dn0OH+zDiMQKBgQDQqJ5Mm/BxeXqhU0kkx1GTHti1svs6C6TP
pbxfKik2oLpzwDgExJk3Gt/xT1mVMkWL8F6DUsNk0cyqrSGum1ZLZslLfgoWpbpe
RxrgFjT99NiVK2ufU1Z+TRTTiorSqn1/AgFNpJ2vDw6VPsWL/uz0DrMo1ICtw6n/
kWkNpCpAMQKBgF7ZbDGXMrrQKRNBPoQwxd+pAlIEoIarvgUTkoCje6plCaSI5CAe
R5hlmOYZBXw1UmdD70F2NaSNTLx3e9dv9aT2dD7euUEHYi4/XFgvZ1qpRiHKfSuF
2iph1m9/ZtD/Py8uuWZ4/22h9x+0oRF+Nv/57nkzVPhbcWJiW/2ldP9hAoGBAKQq
9plZ25y8MlK5f4PzWmhBTcnvrx/lR1+ki4foWRLE9M3bf3eo4s9rUqS+hMIREoze
qs3yEQ/CzZ+/pg+F4ihjD59Y5EEbVX2Vvjxu3HSu7rS2u+9YF2Y56Vfi2gST5TdH
cZUQHow8cYHVKIJUKUSASE+omjGdD6SnWJtF/YQRAoGAVcZfB7bDta7ZqcV6r2oF
Wzp61hJTzQEFImagPH5H1CcNviGKB70qvAPl8vakWQsEaatNGdq8vddcDWvAtyoR
wdPcnVvjcsC7sPRcchU9yU8j/4NSCzJmwuSx1u/xWk6x+WLFIqml7BJ9TGqJYZdi
6zt6Si98jHzJtLgX1svphf0=
-----END PRIVATE KEY-----
"""
FIREBASE_PROJECT_ID = "riden-be20b"
