modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/riden-promo-video: web"

[[workflows.workflow]]
name = "artifacts/riden-promo-video: web"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=23100 BASE_PATH=/riden-promo-video/ pnpm --filter @workspace/riden-promo-video run dev"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 19631
externalPort = 3002

[[ports]]
localPort = 19910
externalPort = 3000

[[ports]]
localPort = 20917
externalPort = 4200

[[ports]]
localPort = 21963
externalPort = 3001

[[ports]]
localPort = 22334
externalPort = 5000

[[ports]]
localPort = 22407
externalPort = 3003

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
FIREBASE_CLIENT_EMAIL = "firebase-adminsdk-fbsvc@riden2.iam.gserviceaccount.com"
FIREBASE_PRIVATE_KEY = """
-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDU35m/gKT/6tBa
8bKyXiRmuQ0gEbIcxR5dW3g2Or2gdjpfls1suvILCuBngUTMut2GXk+l9382qvrP
vZcR/F5xHg3V11cuBAnyZvFysKm0RoctjsGpsAV3H0Q6YFoTE4BuArb//ZCOTvfa
W2fuI0aD1jV6C21Eu5xpHZVn5K92wUzHtymoRP0I4DmLQ9jy85cObMis9+RU/IOT
FgFHqCvQwVRSpg8zPgXXwuKOFqfpFUW4p/1IW3WbOQz0QJatKppibUE8UVhe3vci
N+9pNYhDxM8YdDN+AnG4pTeiOWF3L/4Grx1GHeLOT/3WslytPNZ+bJyLQ5zcxOXx
otqopwgRAgMBAAECggEAAIHAYThHo6TyCWDbNwZYD4vnVFp5dbL36SXis0sAwTPZ
dLso/D4IWxhm5jDW1SMXoOFlLELeJoZEGUmiV2hdYQnd+Db0bzmE4sKVJjyVGAwS
41JamTsIzbPKuHUh0AqnGiEkas7HmYjfKqmQfC0q+UlN1c4pyAVKEHCn5ye7+rr0
mjf7yNSse8Fl8/ZPmjGzHSCKjrE9frrwB9gRKybKjaKcF+XpUpPaUvHMxQ4N84yd
EYPDhZllafFrVNJjPe3/r5QOgPzQ8PYx7/0ujOqFPxKKb5PElRRL9Yq19WDB9Pt+
pJ0svHKrXq3GsNYRyiXHOo50FdnzaQPNiM2j7tNzpwKBgQDqfUd72GH6K0LzRqB3
vmANXuUdhRnGqvzZqhSvJkkFTozAOf+Y+ikXC0lRdv8TUcEWf62s6EdRlHPJaqcp
cgcM2w7CUbl2pIaEoicPPKNodtBTGmnwWG7i+469EJknn/Q3EiRYPHU4hNUYsHXw
exOb/AAY1S+3bqd7iU2iMfrSewKBgQDoZrIB1OYyvI2XOBP8z2IxC4EAxV1anUAb
HXRz2PDfQ2VJ238w5HsC0YD5jQQPcZPGdQvbbiiEFoTrQlE/INlhklg4QPQYAqm2
Jm90r+yOY3xO1mXfw6vhvi7/n0hqEPpHrMP4lPRSJKjeVg0xa9NMzho6zZXZsR5a
zYqplkyf4wKBgQDZco+lkwVYnmGZg7cvE8Wy4HsLIvDCQLH1jzlbKt+wIiV35NDX
pbQRAJBfEUB9Q+UQ3hnKLCRmzImLEHIvhuRu0X0gSfT4xp1Pxab/BDZsmzGYvvfa
v8ckii7VuNyt2DD6GMLHaFkzrkqGeK0F8rw+fDQC0z9KlTyO3Ma3UC3OnQKBgBnV
WJI1jUU0inS1yhr/HoYfJj7ksYTiF/8rngdGpTfcMQUtvgy8SSQ+D50t3LauxGN6
HVBOBXjxW+Me4xMmXqOm9eGC7t9AZIcX7KnG6H/HdUj6MibWhGO6lVTa6tzHeFrB
TKN0Q1hiNNdKL3s/5iQSgP3qXm7tbldfo7tINspLAoGACmu/tPWdKQmNh55Td+tw
cgYroQz/yeeaZnPLdIIWEtgS51Uvap0aqFfDl6J8/oEhUTkD4iuXkKCYRTyG3KJI
nsiMSnD2qovUxAkSpUFGNRoBOS6mXHNC3If2+qrx8++Ge6y04vq/cR8qGZHjQ1AQ
mTkMy8CHtbdHUOSCekNSmUs=
-----END PRIVATE KEY-----
"""
FIREBASE_PROJECT_ID = "riden2"
